<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.securebankkit.flutter_security_suite">

    <!-- Required on API 30+ for PackageManager visibility of root-related apps -->
    <queries>
        <package android:name="com.noshufou.android.su" />
        <package android:name="com.noshufou.android.su.elite" />
        <package android:name="eu.chainfire.supersu" />
        <package android:name="com.koushikdutta.superuser" />
        <package android:name="com.thirdparty.superuser" />
        <package android:name="com.yellowes.su" />
        <package android:name="com.topjohnwu.magisk" />
    </queries>

</manifest>
